/*
* Kik cup css
* Copyright Kik Interactive Inc. 2013
*/

.hidden {
	display: none;
}
body {
	padding-top: 50px;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar {}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #71A406;
}
.navbar-inverse .navbar-brand {
	color: #999997;
}
.background {
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(http://hackercamp.ca/img/bg-large.jpg);
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.header-text {}
.header-text h1 {
	padding-top: 80px;
	color: #FFF;
	font-size: 60px;
	font-weight: 300;
	text-shadow: 0 1px 1px #000;
}
.header-text h4 {
	padding: 24px 92px 0 0;
	color: #CCC;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
}
.ourwell {
	margin-top: 32px;
	margin-bottom: 42px;
	padding: 4px 30px 12px 19px;
	background-color: #F0F0F4;
	border: 1px solid #E3E3E3;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.ourwell h2 {
	margin-top: 16px;
	color: #2C3E50;
	text-align: center;
}
.ourwell ul {
	color: #666;
	font-size: 14px;
	list-style-type: decimal;
}
.ourwell li {
	color: #666;
	padding: 4px 0;
}
.btn {
	border-radius: 0;
}
@media (max-width:1199px) {
	.header-text h1 {
		padding-top: 120px;
		font-size: 48px;
	}
}
@media (max-width:991px) {
	.header-text h1 {
		padding-top: 12px;
	}
}
@media (max-width:767px) {
	.ourwell {
		margin-bottom: 0;
	}
}
@media (max-width:639px) {
	.header-text h1 {
		font-size: 32px;
	}
	.header-text h4 {
		padding-top: 8px;
		padding-right: 0;
		font-size: 16px;
		line-height: 24px;
	}
}
